PORT=4000
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=hermex_admin
DB_PASSWORD=hermex_password
DB_NAME=gateway_db

# JWT
JWT_ACCESS_SECRET=hermex-access-secret-key-change-in-prod
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=hermex-refresh-secret-key-change-in-prod
JWT_REFRESH_EXPIRES_IN=7d

# Internal Microservices (gRPC)
ORDER_GRPC_URL=localhost:50051
PAYMENT_GRPC_URL=localhost:50052
INVENTORY_GRPC_URL=localhost:50053

# Cache & Real-time (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379

# Message Broker (RabbitMQ)
RABBITMQ_URL=amqp://hermex_user:hermex_password@localhost:5672



